html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.hidden {
  display: none;
}

#root,
#game,
#menu {
  height: 100%;
  width: 100%;
  display: initial;
}

#gameoverscreen {
  opacity: 0.9;
}

canvas,
.room,
.weapon,
.player,
.enemy,
.item {
  position: absolute;
}

@keyframes takedmg {

  0%,
  50%,
  30%,
  80% {
    transform: translate(1px, 1px) rotate(0deg);
    filter: sepia(1) saturate(1.5) hue-rotate(-23deg);
  }

  10%,
  60%,
  40%,
  90% {
    transform: translate(-1px, -2px) rotate(-1deg);
    filter: sepia(1) saturate(1.5) hue-rotate(-23deg);
  }

  20%,
  70%,
  50%,
  100% {
    transform: translate(-3px, 0px) rotate(1deg);
    filter: sepia(1) saturate(1.5) hue-rotate(-23deg);
  }
}